In [95]:
import pandas as pd

In [96]:
import pandas as pd

# Define the correct data types for columns
dtype_dict = {
    'Division': 'object',
    'Product Name': 'object',
    'Factory': 'object',
    'Product ID': 'object',
    'Unit Price': 'object',  # If the column should be numeric
    'Unit Cost': 'object',   # If the column should be numeric
}

# Load the CSV and specify the data types
df1= pd.read_csv(r'C:\Users\priya\Candy_data.csv', dtype=dtype_dict)

# Verify the data types
print(df1.dtypes)

Unnamed: 0       int64
Division        object
Product Name    object
Factory         object
Product ID      object
Unit Price      object
Unit Cost       object
dtype: object

# Data cleaning

In [97]:
df1=pd.read_csv(r"C:\Users\priya\Candy_data.csv",dtype=dtype_dict)

In [98]:
df1.dtypes

Unnamed: 0       int64
Division        object
Product Name    object
Factory         object
Product ID      object
Unit Price      object
Unit Cost       object
dtype: object

In [99]:
df1

,Unnamed: 0,Division,Product Name,Factory,Product ID,Unit Price,Unit Cost
0,0,Chocolate,Wonka Bar - Nutty Crunch Surprise,Lot's O' Nuts,CHO-NUT-13000,3.49,1.0
1,1,Chocolate,Wonka Bar - Fudge Mallows,Lot's O' Nuts,CHO-FUD-51000,3.6,1.2
2,2,Chocolate,Wonka Bar -Scrumdiddlyumptious,Lot's O' Nuts,CHO-SCR-58000,3.6,1.1
3,3,Chocolate,Wonka Bar - Milk Chocolate,Wicked Choccy's,CHO-MIL-31000,3.25,1.14
4,4,Chocolate,Wonka Bar - Triple Dazzle Caramel,Wicked Choccy's,CHO-TRI-54000,3.75,1.3
5,5,Sugar,Laffy Taffy,Sugar Shack,SUG-LAF-25000,1.99,0.75
6,6,Sugar,SweeTARTS,Sugar Shack,SUG-SWE-91000,1.5,0.8
7,7,Sugar,Nerds,Sugar Shack,SUG-NER-92000,1.5,0.8
8,8,Sugar,Fun Dip,Sugar Shack,SUG-FUN-75000,1.5,0.9
9,9,Other,Fizzy Lifting Drinks,Sugar Shack,OTH-FIZ-56000,3.75,1.5
10,10,Sugar,Everlasting Gobstopper,Secret Factory,SUG-EVE-47000,10.0,2.0
11,11,Sugar,Hair Toffee,The Other Factory,SUG-HAI-55000,4.5,1.0
12,12,Other,Lickable Wallpaper,Secret Factory,OTH-LIC-15000,20.0,10.0
13,13,Other,Wonka Gum,Secret Factory,OTH-GUM-21000,1.25,0.6
14,14,Other,Kazookles,The Other Factory,OTH-KAZ-38000,3.25,3.0

# "Unit Cost" and "Unit Price" were in object format, changed them to float for calculations

In [100]:
df1["Unit Cost"] = df1["Unit Cost"].astype("float64")

In [101]:
df1["Unit Price"] = df1["Unit Price"].astype("float64")

In [102]:
df1.dtypes

Unnamed: 0        int64
Division         object
Product Name     object
Factory          object
Product ID       object
Unit Price      float64
Unit Cost       float64
dtype: object

In [103]:
import pandas as pd

# Define the correct data types for columns
dtype_dict = {
    'Row ID': 'object',
    'Customer ID' : 'object',
    'Sales': 'object',
    'Product ID': 'object',
    'Units': 'object',  # If the column should be numeric
    'Cost': 'object',   # If the column should be numeric
}

# Load the CSV and specify the data types
df2 = pd.read_csv('C:\\Users\\priya\\Candyfactrysales.csv', dtype=dtype_dict)

# Verify the data types
print(df2.dtypes)

Unnamed: 0          int64
Row ID             object
Order ID           object
Order Date         object
Ship Date          object
Ship Mode          object
Customer ID        object
Country/Region     object
City               object
State/Province     object
Postal Code        object
Division           object
Region             object
Product ID         object
Product Name       object
Sales              object
Units              object
Gross Profit      float64
Cost               object
dtype: object

# Read the second file and cleaned the data for further processing

In [104]:
df2 = pd.read_csv(r"C:\Users\priya\Candyfactrysales.csv",dtype=dtype_dict)

In [105]:
df2.dtypes

Unnamed: 0          int64
Row ID             object
Order ID           object
Order Date         object
Ship Date          object
Ship Mode          object
Customer ID        object
Country/Region     object
City               object
State/Province     object
Postal Code        object
Division           object
Region             object
Product ID         object
Product Name       object
Sales              object
Units              object
Gross Profit      float64
Cost               object
dtype: object

In [106]:
df2['Ship Mode'].unique()

array(['Standard Class', 'First Class', 'Second Class', 'Same Day', nan],
      dtype=object)

In [107]:
df2

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product ID,Product Name,Sales,Units,Gross Profit,Cost
0,0,282,US-2021-128055-CHO-TRI-54000,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,%P%a%c%i%f%i%c%,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.5,2,4.90,2.6
1,1,288,US-2021-128055-CHO-SCR-58000,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,%P%a%c%i%f%i%c%,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,7.2,2,5.00,2.2
2,2,1132,US-2021-138100-CHO-FUD-51000,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,%A%t%l%a%n%t%i%c%,CHO-FUD-51000,Wonka Bar - Fudge Mallows,7.2,2,4.80,2.4
3,3,1133,US-2021-138100-CHO-MIL-31000,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,%A%t%l%a%n%t%i%c%,CHO-MIL-31000,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42
4,4,3396,US-2022-121391-CHO-MIL-31000,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,%P%a%c%i%f%i%c%,CHO-MIL-31000,Wonka Bar - Milk Chocolate,6.5,2,4.22,2.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,10189,4547,US-2023-167682-CHO-SCR-58000,2023-04-03,2028-09-29,Standard Class,167682,United States,Richmond,Indiana,47374,Chocolate,%I%n%t%e%r%i%o%r%,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,14.4,4,10.00,4.4
10190,10190,4724,US-2023-147991-CHO-NUT-13000,2023-05-05,2028-10-29,Standard Class,147991,United States,Chattanooga,Tennessee,37421,Chocolate,%G%u%l%f%,CHO-NUT-13000,Wonka Bar - Nutty Crunch Surprise,17.45,5,12.45,5.0
10191,10191,5175,US-2023-152471-CHO-TRI-54000,2023-07-08,2028-12-28,Same Day,152471,United States,Jacksonville,Florida,32216,Chocolate,%G%u%l%f%,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.5,2,4.90,2.6
10192,10192,5178,US-2023-152471-CHO-TRI-54000,2023-07-08,2028-12-28,Same Day,152471,United States,Jacksonville,Florida,32216,Chocolate,%G%u%l%f%,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,18.75,5,12.25,6.5
10193,10193,7857,US-2024-141481-CHO-FUD-51000,2024-06-11,2029-12-05,First Class,141481,United States,Los Angeles,California,90036,Chocolate,%P%a%c%i%f%i%c%,CHO-FUD-51000,Wonka Bar - Fudge Mallows,10.8,3,7.20,3.6

## changed them to float for calculations

In [108]:
df2['Sales']=df2['Sales'].astype('float64')

In [109]:
df2['Row ID']=df2['Row ID'].astype('int64')

In [110]:
df2['Cost'] = df2['Cost'].astype('float64')

In [111]:
df2['Ship Date'] = pd.to_datetime(df2['Ship Date'])

In [112]:
df2['Order Date'] = pd.to_datetime(df2['Order Date'])

In [113]:
df2['Units'] = df2['Units'].astype('float64')

In [114]:
df2.dtypes

Unnamed: 0                 int64
Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Country/Region            object
City                      object
State/Province            object
Postal Code               object
Division                  object
Region                    object
Product ID                object
Product Name              object
Sales                    float64
Units                    float64
Gross Profit             float64
Cost                     float64
dtype: object

## Read three files and merged them using an inner join for consistency

In [115]:
df3 = pd.read_csv(r"C:\Users\priya\Downloads\Candy_Factories.csv")

In [116]:
df4= pd.merge(df2,df1, how ="inner", left_on = "Product ID", right_on = "Product ID")

In [117]:
df= pd.merge(df4,df3, how ="inner", left_on = "Factory", right_on = "Factory")

# Set option to display all columns in the output

In [118]:
pd.set_option('display.max_columns',None)

# Replaced spaces with underscores in column names

In [119]:
df.columns= df.columns.str.replace(' ','_')

In [120]:
df.columns

Index(['Unnamed:_0_x', 'Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date',
       'Ship_Mode', 'Customer_ID', 'Country/Region', 'City', 'State/Province',
       'Postal_Code', 'Division_x', 'Region', 'Product_ID', 'Product_Name_x',
       'Sales', 'Units', 'Gross_Profit', 'Cost', 'Unnamed:_0_y', 'Division_y',
       'Product_Name_y', 'Factory', 'Unit_Price', 'Unit_Cost', 'Latitude',
       'Longitude'],
      dtype='object')

# Renamed columns for clarity

In [121]:
df.rename(columns={"Unnamed:_0_x" :"Unnamed_x", "Unnamed:_0_y" : "Unnamed_y"}, inplace=True)

# Dropped unnecessary columns for cleaner data

In [122]:
df.drop(['Unnamed_x','Unnamed_y','Division_y', 'Product_Name_y'], axis=1, inplace=True)

# Removed '%' symbols from 'Region' column to clean the text data and make it ready for analysis

In [123]:
df.Region

0          %P%a%c%i%f%i%c%
1          %P%a%c%i%f%i%c%
2        %A%t%l%a%n%t%i%c%
3        %A%t%l%a%n%t%i%c%
4          %P%a%c%i%f%i%c%
               ...
10189    %I%n%t%e%r%i%o%r%
10190            %G%u%l%f%
10191            %G%u%l%f%
10192            %G%u%l%f%
10193      %P%a%c%i%f%i%c%
Name: Region, Length: 10194, dtype: object

In [124]:
 df['Region']=df['Region'].str.replace('%','')

In [125]:
df.Region

0         Pacific
1         Pacific
2        Atlantic
3        Atlantic
4         Pacific
           ...
10189    Interior
10190        Gulf
10191        Gulf
10192        Gulf
10193     Pacific
Name: Region, Length: 10194, dtype: object

# Renamed columns for clarity

In [126]:
df.rename(columns ={'Division_x' : 'Division' , 'Product_Name_x' : 'Product_Name'},inplace = True )

In [127]:
df.rename(columns = { 'Country/Region' : 'Country_Region' , 'State/Province' : 'State_Province'}, inplace =True)

# Filled missing values in 'Sales', 'Cost', and 'Units' columns with their respective mean values

In [128]:
df.isna().sum()

Row_ID             0
Order_ID           0
Order_Date         0
Ship_Date          0
Ship_Mode         79
Customer_ID        0
Country_Region     0
City               0
State_Province     0
Postal_Code        0
Division           0
Region             0
Product_ID         0
Product_Name       0
Sales             87
Units             66
Gross_Profit       0
Cost              49
Factory            0
Unit_Price         0
Unit_Cost          0
Latitude           0
Longitude          0
dtype: int64

In [129]:
df['Sales'] = df['Sales'].fillna(df['Sales'].mean())

In [130]:
df['Cost'] = df['Cost'].fillna(df['Cost'].mean())

In [131]:
df['Units']=df['Units'].fillna(df['Units'].mean())

In [132]:
df.isna().sum()

Row_ID             0
Order_ID           0
Order_Date         0
Ship_Date          0
Ship_Mode         79
Customer_ID        0
Country_Region     0
City               0
State_Province     0
Postal_Code        0
Division           0
Region             0
Product_ID         0
Product_Name       0
Sales              0
Units              0
Gross_Profit       0
Cost               0
Factory            0
Unit_Price         0
Unit_Cost          0
Latitude           0
Longitude          0
dtype: int64

# correction of the ship_date according to the order_date and ship_mode by through the function using by numpy

In [133]:
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Country_Region,City,State_Province,Postal_Code,Division,Region,Product_ID,Product_Name,Sales,Units,Gross_Profit,Cost,Factory,Unit_Price,Unit_Cost,Latitude,Longitude
0,282,US-2021-128055-CHO-TRI-54000,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.50,2.0,4.90,2.60,Wicked Choccy's,3.75,1.30,32.076176,-81.088371
1,288,US-2021-128055-CHO-SCR-58000,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,7.20,2.0,5.00,2.20,Lot's O' Nuts,3.60,1.10,32.881893,-111.768036
2,1132,US-2021-138100-CHO-FUD-51000,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,CHO-FUD-51000,Wonka Bar - Fudge Mallows,7.20,2.0,4.80,2.40,Lot's O' Nuts,3.60,1.20,32.881893,-111.768036
3,1133,US-2021-138100-CHO-MIL-31000,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,CHO-MIL-31000,Wonka Bar - Milk Chocolate,9.75,3.0,6.33,3.42,Wicked Choccy's,3.25,1.14,32.076176,-81.088371
4,3396,US-2022-121391-CHO-MIL-31000,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,CHO-MIL-31000,Wonka Bar - Milk Chocolate,6.50,2.0,4.22,2.28,Wicked Choccy's,3.25,1.14,32.076176,-81.088371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,4547,US-2023-167682-CHO-SCR-58000,2023-04-03,2028-09-29,Standard Class,167682,United States,Richmond,Indiana,47374,Chocolate,Interior,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,14.40,4.0,10.00,4.40,Lot's O' Nuts,3.60,1.10,32.881893,-111.768036
10190,4724,US-2023-147991-CHO-NUT-13000,2023-05-05,2028-10-29,Standard Class,147991,United States,Chattanooga,Tennessee,37421,Chocolate,Gulf,CHO-NUT-13000,Wonka Bar - Nutty Crunch Surprise,17.45,5.0,12.45,5.00,Lot's O' Nuts,3.49,1.00,32.881893,-111.768036
10191,5175,US-2023-152471-CHO-TRI-54000,2023-07-08,2028-12-28,Same Day,152471,United States,Jacksonville,Florida,32216,Chocolate,Gulf,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.50,2.0,4.90,2.60,Wicked Choccy's,3.75,1.30,32.076176,-81.088371
10192,5178,US-2023-152471-CHO-TRI-54000,2023-07-08,2028-12-28,Same Day,152471,United States,Jacksonville,Florida,32216,Chocolate,Gulf,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,18.75,5.0,12.25,6.50,Wicked Choccy's,3.75,1.30,32.076176,-81.088371
10193,7857,US-2024-141481-CHO-FUD-51000,2024-06-11,2029-12-05,First Class,141481,United States,Los Angeles,California,90036,Chocolate,Pacific,CHO-FUD-51000,Wonka Bar - Fudge Mallows,10.80,3.0,7.20,3.60,Lot's O' Nuts,3.60,1.20,32.881893,-111.768036

In [134]:
df.Ship_Mode.unique()

array(['Standard Class', 'First Class', 'Second Class', 'Same Day', nan],
      dtype=object)

In [135]:
import numpy as np

# created a new column named 'correct_shipdate' using funtion with ship_mode and order_date

In [136]:
def right (x):
    if x['Ship_Mode'] == 'Same Day':
        return x ['Order_Date']
    elif x['Ship_Mode'] == 'Standard Class':
         return x ['Order_Date'] + pd.Timedelta (days = np.random.randint(1,4))
    elif x['Ship_Mode'] == 'First Class':
        return x ['Order_Date'] + pd.Timedelta (days = np.random.randint(3,6))
    elif x['Ship_Mode'] ==  'Second Class':
        return x ['Order_Date'] + pd.Timedelta (days = np.random.randint(6,9))

In [137]:
df['Correct_shipdate'] = df.apply(right,axis=1)

# created new column Order_delay and shipping year for analysis purpose

In [138]:
df['Orders_delay']=df['Correct_shipdate'] - df['Order_Date']

In [139]:
df['Shipping_years']=df['Correct_shipdate'].dt.year

In [140]:
df = df.drop('Ship_Date', axis=1)

In [141]:
df

,Row_ID,Order_ID,Order_Date,Ship_Mode,Customer_ID,Country_Region,City,State_Province,Postal_Code,Division,Region,Product_ID,Product_Name,Sales,Units,Gross_Profit,Cost,Factory,Unit_Price,Unit_Cost,Latitude,Longitude,Correct_shipdate,Orders_delay,Shipping_years
0,282,US-2021-128055-CHO-TRI-54000,2021-03-31,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.50,2.0,4.90,2.60,Wicked Choccy's,3.75,1.30,32.076176,-81.088371,2021-04-02,2 days,2021.0
1,288,US-2021-128055-CHO-SCR-58000,2021-03-31,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,7.20,2.0,5.00,2.20,Lot's O' Nuts,3.60,1.10,32.881893,-111.768036,2021-04-02,2 days,2021.0
2,1132,US-2021-138100-CHO-FUD-51000,2021-09-15,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,CHO-FUD-51000,Wonka Bar - Fudge Mallows,7.20,2.0,4.80,2.40,Lot's O' Nuts,3.60,1.20,32.881893,-111.768036,2021-09-18,3 days,2021.0
3,1133,US-2021-138100-CHO-MIL-31000,2021-09-15,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,CHO-MIL-31000,Wonka Bar - Milk Chocolate,9.75,3.0,6.33,3.42,Wicked Choccy's,3.25,1.14,32.076176,-81.088371,2021-09-16,1 days,2021.0
4,3396,US-2022-121391-CHO-MIL-31000,2022-10-04,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,CHO-MIL-31000,Wonka Bar - Milk Chocolate,6.50,2.0,4.22,2.28,Wicked Choccy's,3.25,1.14,32.076176,-81.088371,2022-10-09,5 days,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,4547,US-2023-167682-CHO-SCR-58000,2023-04-03,Standard Class,167682,United States,Richmond,Indiana,47374,Chocolate,Interior,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,14.40,4.0,10.00,4.40,Lot's O' Nuts,3.60,1.10,32.881893,-111.768036,2023-04-06,3 days,2023.0
10190,4724,US-2023-147991-CHO-NUT-13000,2023-05-05,Standard Class,147991,United States,Chattanooga,Tennessee,37421,Chocolate,Gulf,CHO-NUT-13000,Wonka Bar - Nutty Crunch Surprise,17.45,5.0,12.45,5.00,Lot's O' Nuts,3.49,1.00,32.881893,-111.768036,2023-05-08,3 days,2023.0
10191,5175,US-2023-152471-CHO-TRI-54000,2023-07-08,Same Day,152471,United States,Jacksonville,Florida,32216,Chocolate,Gulf,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.50,2.0,4.90,2.60,Wicked Choccy's,3.75,1.30,32.076176,-81.088371,2023-07-08,0 days,2023.0
10192,5178,US-2023-152471-CHO-TRI-54000,2023-07-08,Same Day,152471,United States,Jacksonville,Florida,32216,Chocolate,Gulf,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,18.75,5.0,12.25,6.50,Wicked Choccy's,3.75,1.30,32.076176,-81.088371,2023-07-08,0 days,2023.0
10193,7857,US-2024-141481-CHO-FUD-51000,2024-06-11,First Class,141481,United States,Los Angeles,California,90036,Chocolate,Pacific,CHO-FUD-51000,Wonka Bar - Fudge Mallows,10.80,3.0,7.20,3.60,Lot's O' Nuts,3.60,1.20,32.881893,-111.768036,2024-06-15,4 days,2024.0

In [142]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Mode', 'Customer_ID',
       'Country_Region', 'City', 'State_Province', 'Postal_Code', 'Division',
       'Region', 'Product_ID', 'Product_Name', 'Sales', 'Units',
       'Gross_Profit', 'Cost', 'Factory', 'Unit_Price', 'Unit_Cost',
       'Latitude', 'Longitude', 'Correct_shipdate', 'Orders_delay',
       'Shipping_years'],
      dtype='object')

In [143]:
df.dtypes

Row_ID                        int64
Order_ID                     object
Order_Date           datetime64[ns]
Ship_Mode                    object
Customer_ID                  object
Country_Region               object
City                         object
State_Province               object
Postal_Code                  object
Division                     object
Region                       object
Product_ID                   object
Product_Name                 object
Sales                       float64
Units                       float64
Gross_Profit                float64
Cost                        float64
Factory                      object
Unit_Price                  float64
Unit_Cost                   float64
Latitude                    float64
Longitude                   float64
Correct_shipdate     datetime64[ns]
Orders_delay        timedelta64[ns]
Shipping_years              float64
dtype: object

In [144]:
df.isna().sum()

Row_ID               0
Order_ID             0
Order_Date           0
Ship_Mode           79
Customer_ID          0
Country_Region       0
City                 0
State_Province       0
Postal_Code          0
Division             0
Region               0
Product_ID           0
Product_Name         0
Sales                0
Units                0
Gross_Profit         0
Cost                 0
Factory              0
Unit_Price           0
Unit_Cost            0
Latitude             0
Longitude            0
Correct_shipdate    79
Orders_delay        79
Shipping_years      79
dtype: int64

In [145]:
df = df.dropna()

In [146]:
df.isna().sum()

Row_ID              0
Order_ID            0
Order_Date          0
Ship_Mode           0
Customer_ID         0
Country_Region      0
City                0
State_Province      0
Postal_Code         0
Division            0
Region              0
Product_ID          0
Product_Name        0
Sales               0
Units               0
Gross_Profit        0
Cost                0
Factory             0
Unit_Price          0
Unit_Cost           0
Latitude            0
Longitude           0
Correct_shipdate    0
Orders_delay        0
Shipping_years      0
dtype: int64

In [147]:
df['Orders_delay']=df['Orders_delay'].astype('object')

C:\Users\priya\AppData\Local\Temp\ipykernel_51664\858744582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Orders_delay']=df['Orders_delay'].astype('object')

In [148]:
df['Shipping_years']=df['Shipping_years'].astype('int64')

C:\Users\priya\AppData\Local\Temp\ipykernel_51664\3387109517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Shipping_years']=df['Shipping_years'].astype('int64')

In [149]:
df.dtypes

Row_ID                       int64
Order_ID                    object
Order_Date          datetime64[ns]
Ship_Mode                   object
Customer_ID                 object
Country_Region              object
City                        object
State_Province              object
Postal_Code                 object
Division                    object
Region                      object
Product_ID                  object
Product_Name                object
Sales                      float64
Units                      float64
Gross_Profit               float64
Cost                       float64
Factory                     object
Unit_Price                 float64
Unit_Cost                  float64
Latitude                   float64
Longitude                  float64
Correct_shipdate    datetime64[ns]
Orders_delay                object
Shipping_years               int64
dtype: object

In [150]:
df.dtypes

Row_ID                       int64
Order_ID                    object
Order_Date          datetime64[ns]
Ship_Mode                   object
Customer_ID                 object
Country_Region              object
City                        object
State_Province              object
Postal_Code                 object
Division                    object
Region                      object
Product_ID                  object
Product_Name                object
Sales                      float64
Units                      float64
Gross_Profit               float64
Cost                       float64
Factory                     object
Unit_Price                 float64
Unit_Cost                  float64
Latitude                   float64
Longitude                  float64
Correct_shipdate    datetime64[ns]
Orders_delay                object
Shipping_years               int64
dtype: object

# changing some columns as per bigquery to push  all the data

In [151]:
 df["Units"] = df["Units"].round().astype(int)

C:\Users\priya\AppData\Local\Temp\ipykernel_51664\1646839217.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Units"] = df["Units"].round().astype(int)

In [152]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Mode', 'Customer_ID',
       'Country_Region', 'City', 'State_Province', 'Postal_Code', 'Division',
       'Region', 'Product_ID', 'Product_Name', 'Sales', 'Units',
       'Gross_Profit', 'Cost', 'Factory', 'Unit_Price', 'Unit_Cost',
       'Latitude', 'Longitude', 'Correct_shipdate', 'Orders_delay',
       'Shipping_years'],
      dtype='object')

In [153]:
df.Region.unique()

array(['Pacific', 'Atlantic', 'Interior', 'Gulf'], dtype=object)

In [154]:
df["Orders_delay"] = pd.to_timedelta(df["Orders_delay"]).dt.days

C:\Users\priya\AppData\Local\Temp\ipykernel_51664\2847032397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Orders_delay"] = pd.to_timedelta(df["Orders_delay"]).dt.days

In [155]:
df['Orders_delay']

0        2
1        2
2        3
3        1
4        5
        ..
10189    3
10190    3
10191    0
10192    0
10193    4
Name: Orders_delay, Length: 10115, dtype: int64

In [156]:
df.to_csv('Cleandataset.csv')

In [164]:
df.to_gbq(destination_table='candy.projectcandy',project_id ='projectcandy')

C:\Users\priya\AppData\Local\Temp\ipykernel_51664\1717639782.py:1: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df.to_gbq(destination_table='candy.projectcandy',project_id ='projectcandy')